body {
  background-color: black!important;
  color: white!important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ScrollBar */
::-webkit-scrollbar {
  display: none!important;
}
/* Track */
::-webkit-scrollbar-track {
  color: black;
  background-color: black;
}
/* Handle */
::-webkit-scrollbar-thumb {
  color: black;
  background-color: black;
}
